name: Sync Fork's Upstream Branch with Upstream's Main Branch
on:
  schedule:
    - cron: '0 6 * * *'  # 6 AM UTC
  workflow_dispatch: { }
jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: upstream
          fetch-depth: 0
      
      - name: Sync upstream branch with upstream repo's main
        run: |
          git remote add upstream-repo https://github.com/ProjectSkyfire/SkyFire_548.git
          git fetch upstream-repo main
          git reset --hard upstream-repo/main
          git push origin upstream --force
